extends layout

block content
    h1 Liste des livres
    table
        thead
            tr
                th Nom
                th Auteur
                th Année de publication
                th Nationalité de l'auteur
                th Description
                th Action
        tbody
            each book in books
                tr
                    td #{book.name}
                    td #{book.author}
                    td #{book.publicationYear}
                    td #{book.nationality}
                    td #{book.description}
                    td
                        a(href="/books/edit/" + book._id) Modifier
                        a(href="/books/delete/" + book._id) Supprimer
    br
    a(href="/books/create") Ajouter un livre