extends layout

block content
    h1 Détail du livre
    p Nom: #{book.name}
    p Auteur: #{book.author.name} #{book.author.firstname}
    p Année de publication: #{book.publicationYear}
    p Nationalité de l'auteur: #{book.author.nationality}
    p Description: #{book.description}

    a(href="/books/edit/#{book._id}") Modifier
    |
    a(href="/books/delete/#{book._id}") Supprimer